{% extends "_landingPage" %}

{% block content %}

  <p>Some introduction content...</p>
  <table width="100%">
      <tr>
          <th>Recipe Name</th>
          <th>Original Brew Date</th>
          <th>Style</th>
      </tr>
      {% for recipe in craft.entries.section('recipes').limit(10) %}
      <tr>
          <td><a href="{{recipe.url}}">{{ recipe.title }}</a></td>
          <td>{{ recipe.originalBrewDate | date('F Y') }}</td>
          <td>{% for style in recipe.style %} <a href="{{ style.url }}"> {{ style.title }} </a> {% endfor %}</td>
      </tr>
      {% endfor %}
  </table>

{% endblock %}
